/*---------------------------- ACHIEVEMENT PAGE-1-0 -------------------------------------------*/
.achievement1-0-container{
    width: 100%;
    height: 100vh;
    padding: 60px 50px 0 50px;
    /* z-index: -2; */
    color:white;
    /* background-image: url('../../assets/achievments/home-brief.jpg');*/
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
   
    background-color: rgba(120, 13, 47,0.9); 
position: absolute;
top: 0;
    /* background-image: url('../../assets//achievments/home-brief.jpg'); */
    object-fit: fill;
    /* background-color:#8d1c3d !important;  */

}

.achievement1-0-container-header{
    width: 100%;
    text-align: left;
    padding: 25px 0px;
}

.achievement1-0-container-header h2{
    text-transform: capitalize;
}

.achievement1-0-container-header h4{
    text-transform: capitalize;
    
}

.achievement1-0-container-content-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Achieve-column .item{
    text-align: left;
}

.Achieve-column .item h3{
    text-transform: capitalize;
}

.Achieve-column .item p{
}




/*---------------------------- ACHIEVEMENT PAGE-1-1 -------------------------------------------*/
.achievement1-1-main-container{
    text-align: left;
    padding: 50px;
   
}


.achievement1-1-side-container{
    /* float: right; */
    background-color: rgba(120, 13, 47,0.9);
    background-image: url('../../assets/home/Group1.png');
    /* background-attachment: fixed; */
    background-position: center;
    background-size: stretch;
    width:30%;
    overflow-y: hidden;
    height: 100vh;
    /* background:red */
}

.achievement1-1-container-header{
    text-align: left;
    padding-bottom: 50px;
}

.achievement1-1-container-content li{
    font-size: 18px;
    line-height: 34px;
    /* color: rgba(255,255,255,0.6); */
}

/*---------------------------- ACHIEVEMENT PAGE-1-2 -------------------------------------------*/

.achievement1-2-side-container{
    /* float: right; */
    background-color: rgba(120, 13, 47,0.9);
    background-image: url('../../assets/home/Group1.png');
    /* background-attachment: fixed; */
    background-position: center;
    background-size: stretch;
    width:30%;
    /* height: 100vh; */
}

.achievement1-2-container{
    width: 100%;
    padding: 50px;
}

.achievement1-2-container-header{
    text-align: left;
    padding-bottom: 30px;
}

.achievement1-2-container-header h5{

}


.achievement1-2-container-content{
    text-align: left;
    width: 60%;
}

.achievement1-2-container-content p{
    font-size: 17px;
    /* color: rgba(255,255,255,0.6); */
}



/*---------------------------- ACHIEVEMENT PAGE-1-3 -------------------------------------------*/

.achievement1-3-container-text{
    text-align: left;
    width: 60%;
    padding: 75px;
}

.achievement1-3-container-header{
    padding-bottom: 30px;
}

.achievement1-3-container-header span{
    font-size: 70px;
}

.achievement1-3-container-content{
    padding-bottom: 20px;
}

.badge{
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 50%;
     margin-right: 14px;
     font-size: 8px;
     /* margin-bottom:  10px; */
}
.content-item{
    color: rgba(255,255,255,0.6);
    font-size: 25px;
    /* line-height: 47; */
    display: flex;
    align-items: center;
    letter-spacing: -0.7px;
}