@import url('../../../assets/css/font.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.aachievment1-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    flex: 1;
   font-family: 'Roboto';
    
}
.achievement1-side-container{
    /* float: right; */
    background-color: rgba(120, 13, 47,0.9);
    background-image: url('../../../assets/home/Group1.png');
    /* background-attachment: fixed; */
    background-position: center;
    background-size: stretch;
    width:30%;
    /* height: 100vh; */
}
.achievement1-main-container{
    width: 70%;
    overflow: hidden;
    /* height: 74vh; */
    background: linear-gradient(to bottom,#fefefe, #f7f7f7);
    /* padding: ; */
}
.achievment1-title{
    font-size: 92px;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-bottom: -30px  !important;
}
.achievment1-subtitle span{
    font-size: 92px;
    font-family: 'Roboto';
    font-weight: bolder;
}
.achievment1-place{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.5px;  
}
.row{
    display: flex;
    flex-direction: row;
}

.achievement1-num{
    font-size: 80px;
    font-family: 'Roboto';
    font-weight: bold;
    /* margin-right: 50px; */
    margin-bottom: -30px;
    margin-top: 20px;
    
    /* line-height: 125px; */
    letter-spacing: -2.5px;
    color: #242424;    ;
}
.achievement1-unit{
    color: #bcbcbc;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.5px;
    /* margin-left: 5%; */
}

.achivement1-main-container2{
    background:white;
    padding: 5%;
}
.h3{
   font-size: 23px;
   font-family: 'Roboto';
   font-weight: bold;
   margin-top: 20px;
}
.p1{
    font-family: 'Roboto';
  
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.45px;
    /* color:#666666; */
    font-weight: 300;
}

.white-btn2{
    /* position:fixed; */

    margin-top: -50%;
    width: 180px;
    /* top:0vh; */
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 0px 20px rgb(65, 22, 22);
    align-items: center;
    justify-content: center;
    display: flex;
    background: white;
}
.white-btn2-text{
    color: #121212;
    text-decoration: none;
    font-family: 'Roboto';  
    font-weight: bold;
    transition: 0.3s all ease-in-out ; 
}
.white-btn2-text:hover{
    color: #121212;
}

.white-btn2:hover{
    width: 180px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 0px 10px rgb(65, 22, 22);
    align-items: center;
    justify-content: center;
    display: flex;
    color: #121212;
    background-color: #f6f6f6;
    cursor:pointer;
}
.achivement1-main-container2 .col-md-6{
    /* background: red; */
    /* margin-bottom: -50px; */
}
.achivement1-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    /* background: red; */
}
.achievement1-side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
   
}

.num-circle{
    border:2px solid #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    color:#fff;
    font-weight: bolder;
    margin-bottom: 5%;
}

.num-text{
    color:#fff;
    font-weight: 600;
    font-size: 20px;
}