header span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}

header .nav-toggler.active span{
    background-color: transparent;
    transition: background-color 0.5s ease;
}

header span::before,
header span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    height: 100%;
    width: 100%;
}