.contact-container{
    position: relative;
    height: 100vh;
    background-color: #111;
    background:url('../../../assets/Contact/pic.png');
    background-size:contain;
    background-position: center;
    background-position-x:80%;
    display:flex;
    justify-content: space-between;
    align-items: center; 
}

.contact-container .intro{
    min-width: 40%;
    text-align: right;
    /* margin-right: 10%; */
}

.contact-container .intro h1{
    font-size: 100px;
    color: white;
}

.contact-container .intro p{
    color: white;
}

.contact-container .social-connect{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    padding-bottom: 20px;
}

.contact-container .social-connect .icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    transition: 0.3s ease-in-out;
}

.contact-container .social-connect .icon:hover{
    background-color: black;
}

.contact-container .social-connect .icon i{
    color: black;
    text-align: center;
}

.contact-container .contacts{
    width: 40%;
    margin-left: 10%;
}

.contact-container .contacts .item{
    display: flex;
}

.contact-container .contacts .item .icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

/* .contact-container .contacts .item:hover{
    background-color: black;
    color: white;
} */

.contact-container .contacts .item i{
    color: black;
    text-align: center;
}

.contact-container .contacts .item p{
    color: white;
    font-size: 18px;
}

.connect-social-icon-component{
 transition: all 0.3s ease-in-out;
 padding: 4%;
   
}

.connect-social-icon-component{
    color: black;
}
.connect-social-icon-component:hover{
    background-color: black;
    color: white;
    /* padding: 4%; */
}